h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1.66%;
    width: 339px;
    border-bottom: black solid 1px;
    line-height: 60px;
}

img {
    height: 30%;
    width: 30%;
    float: left;
    margin: 1.66%;
}
